<!DOCTYPE html>

<html>

<head>
    <title>
        {{title}}
    </title>
    <link rel="icon" href="/img/batman-logo.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>
            This site was created by {{name}} using the Weatherstack API to gather weather data based on your location.
        </p>
        <img class="profilePic" src="img/batman-logo.png">
    </div>
    {{>footer}}
</body>

</html>